*{
    /*background-color:azure;*/
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.menuBar {
    display: flex;
    margin: 0;
    top: 20px;
    position: fixed;
    width: 100%;
    justify-content: space-around;
}

.menuBar ul {
    display: flex;
    flex-direction: row;
}

.menuBar li{
    list-style: none;
    margin-right: 20px;
}

.menuBar a {
    text-decoration: none;
    color: whitesmoke;
}

.info {
    margin-top: 80px;
}

.info img {
    left: 30vh;
    position: absolute;
    /*border: solid black;*/
}

.conteiner {
    margin-top: 375px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
}

.conteiner div {
    border-radius: 10px;
    background-color: #f8f9fa;
    margin: 20px;
    padding: 15px;
}
.description {
    position: absolute;
    margin-top: 150px;    
    margin-left: 700px;
}


#wave {
    top: 380px;
    position:relative;
    /*border: solid;*/
}

#wave2 {
    margin-top: -50px;
    padding: 0;
}

.conteiner2 {
    text-align: center;
    padding: 25px;
    background-color: #f8f9fa;
}

.conteiner2 img {
    margin-top: 35px;
}
 